<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject We have offer for you @-->
<!--@vars {
"var rule_title":"Coupon Rule Title",
"var coupon_code":"Coupon Code",
"var barcode":"Barcode Code Image Link",
"var qrcode":"Qrcode Code Link",
"var from_date":"From Date",
"var to_date":"Expired Date",
"var simple_action":"Simple Action",
"var discount_amount":"Discount Amount",
"var discount_amount_formatted":"Discount Amount Formated"
"var link_website":"Base website link"
} @-->
Hi,

Sorry for bothering you. We are now testing our coupon code generation tool and are happy to have all the customer feedback we can get.
Please come back to us if any questions.

By the way, to compensate your time we would like to offer a {{var discount_amount_formatted|raw}} discount on any products at the store. Don't hesitate to use it!

Barcode: <a href="{{var barcode|raw}}" target="_BLANK"><img src="{{var barcode|raw}}" alt="Scan Barcode"></a>
QRCode: <a href="{{var qrcode|raw}}" target="_BLANK"><img src="{{var qrcode|raw}}" alt="Scan Qrcode"></a>

Best Regard!
Your coupon code is {{var coupon_code|raw}}.
The coupon will give you {{var discount_amount_formatted|raw}} discount.