<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject We have offer for you @-->
<!--@vars {
"var rule_title":"Coupon Rule Title",
"var customer_name":"Customer Name",
"var coupon_code":"Coupon Code",
"var from_date":"From Date",
"var to_date":"Expired Date",
"var simple_action":"Simple Action",
"var discount_amount":"Discount Amount",
"var discount_amount_formatted":"Discount Amount Formated",
"var link_website":"Base Link"
} @-->
Hi, {{var customer_name|raw}},

Sorry for bothering you. We are now testing our coupon code generation tool and are happy to have all the customer feedback we can get.
Please come back to us if any questions.

By the way, to compensate your time we would like to offer a {{var discount_amount_formatted|raw}} discount on any products at the store. Don't hesitate to use it!

Best Regard!
Your coupon code is {{var coupon_code|raw}}.
The coupon will give you {{var discount_amount_formatted|raw}} discount.